@{ ViewBag.Title = "Successfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Banner = "~/Content/assets/images/banner/banner2.jpg";
    ViewBag.BannerText = "Successfull";

}

    <section class="checkout spad">
        <div class="container">
            <br />
            <div class="alert alert-success" style="font-size:large">
                Congratulations on your successful course registration!
            </div>
        </div>
    </section>


