<div class="db-breadcrumb" style="padding-top:5%">
    <h4 class="breadcrumb-title">@ViewBag.Title</h4>
    <ul class="db-breadcrumb-list">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a></li>
        <li>@ViewBag.Title</li>
    </ul>
</div>
