@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="../error-404.html" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/dashboard/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Start Smart - @ViewBag.Title</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/css/assets.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/vendors/calendar/fullcalendar.css">


    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard/css/dashboard.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Content/dashboard/css/color/color-1.css">
    <style>
        .lecture-video {
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">
    @RenderBody()
</body>
</html>

<script src="~/Content/dashboard/js/jquery.min.js"></script>
<script src="~/Content/dashboard/vendors/bootstrap/js/popper.min.js"></script>
<script src="~/Content/dashboard/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/dashboard/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/dashboard/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="~/Content/dashboard/vendors/magnific-popup/magnific-popup.js"></script>
<script src="~/Content/dashboard/vendors/counter/waypoints-min.js"></script>
<script src="~/Content/dashboard/vendors/counter/counterup.min.js"></script>
<script src="~/Content/dashboard/vendors/imagesloaded/imagesloaded.js"></script>
<script src="~/Content/dashboard/vendors/masonry/masonry.js"></script>
<script src="~/Content/dashboard/vendors/masonry/filter.js"></script>
<script src="~/Content/dashboard/vendors/owl-carousel/owl.carousel.js"></script>
<script src='~/Content/dashboard/vendors/scroll/scrollbar.min.js'></script>
<script src="~/Content/dashboard/js/functions.js"></script>
<script src="~/Content/dashboard/vendors/chart/chart.min.js"></script>
<script src="~/Content/dashboard/js/admin.js"></script>
<script src='~/Content/dashboard/vendors/calendar/moment.min.js'></script>
<script src='~/Content/dashboard/vendors/calendar/fullcalendar.js'></script>
<script src='~/Content/dashboard/vendors/switcher/switcher.js'></script>

<script>
    $(document).keydown(function (e) {
        if (e.which === 123) {
            return false;
        }
    });
    $(document).bind("contextmenu", function (e) {
        e.preventDefault();

    });

</script>

@RenderSection("ClientScript", false)