<footer class="main-footer">
    <strong>Footer &copy; 2020 <a href="#">Clinic Management System</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>

