CREATE DATABASE [TN_academic_DB]
GO
USE [TN_academic_DB]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[AboutUsID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[AboutUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[BlogID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[BlogName] [nvarchar](255) NULL,
	[Username] [varchar](50) NULL,
	[CategoryID] [int] NULL,
	[Content] [text] NULL,
	[Thumbnail] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[ShortDescription] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[Description] [nvarchar](255) NULL,
	[Thumbnail] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Fax] [varchar](50) NULL,
	[Address] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[CouponCode] [nvarchar](50) NULL,
	[CouponName] [nvarchar](150) NULL,
	[Description] [text] NULL,
	[Thumbnail] [text] NULL,
	[Rate] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[CourseID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NULL,
	[Username] [varchar](50) NULL,
	[CategoryID] [int] NULL,
	[OldPrice] [decimal](18, 0) NULL,
	[Price] [decimal](18, 0) NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Description] [text] NULL,
	[Thumbnail] [text] NULL,
	[Status] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examination]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](255) NULL,
	[CourseID] [int] NULL,
	[Time] [int] NULL,
	[ExaminationDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExaminationContent]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExaminationContent](
	[ExamID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Mark] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[ExamID] [int] NULL,
	[ExamDate] [datetime] NULL,
	[Result] [nvarchar](10) NULL,
	[Mark] [decimal](18, 0) NULL,
	[Time] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LectureComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[LectureID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[LectureID] [int] IDENTITY(1,1) NOT NULL,
	[LectureName] [nvarchar](255) NULL,
	[CourseID] [int] NULL,
	[Overview] [text] NULL,
	[Path] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[LectureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[PaymentID] [int] NULL,
	[PaymentStatus] [int] NULL,
	[Total] [decimal](18, 2) NULL,
	[CouponID] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[CourseID] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[Content] [text] NULL,
	[ChoiceA] [text] NULL,
	[ChoiceB] [text] NULL,
	[ChoiceC] [text] NULL,
	[ChoiceD] [text] NULL,
	[Answer] [text] NULL,
	[Level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionType]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](150) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyingBlogComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyingBlogComments](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[CommentID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyingCourseComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyingCourseComments](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[CommentID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyingLectureComments]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyingLectureComments](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[CommentID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Password] [varchar](255) NULL,
	[Gender] [bit] NULL,
	[DOB] [date] NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](60) NULL,
	[Address] [nvarchar](255) NULL,
	[Avatar] [text] NULL,
	[StatusID] [int] NULL,
	[Role] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatus]    Script Date: 1/23/2021 9:21:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NULL,
	[IsBlock] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutUs] ON 

INSERT [dbo].[AboutUs] ([AboutUsID], [Description]) VALUES (1, N'<p>If you would like to study in the university in the heart of the city 
that focus on chaning the world for better to morrow, you’re choosin the
 right place. We do not use special formulas to select students. We look
 at every single applicant’s application, academic and personal, to 
select students who suit to our community with a full range of 
backgrounds. If you would like to study in the university in the heart of the city 
that focus on chaning the world for better to morrow, you’re choosin the
 right place. We do not use special formulas to select students. We look
 at every single applicantt’s application, academic and personal, to 
select students who suit to our community.</p>')
SET IDENTITY_INSERT [dbo].[AboutUs] OFF
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Technology')
INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Free course')
INSERT [dbo].[BlogCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Family life')
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
SET IDENTITY_INSERT [dbo].[BlogComments] ON 

INSERT [dbo].[BlogComments] ([CommentID], [Username], [BlogID], [Content], [CreatedDate], [Status]) VALUES (2, N'admin123', 1, N'okok ngon', CAST(N'2020-12-22T05:12:00.000' AS DateTime), 1)
INSERT [dbo].[BlogComments] ([CommentID], [Username], [BlogID], [Content], [CreatedDate], [Status]) VALUES (3, N'admin123', 2, N'oko k ngon nhe', CAST(N'2020-12-26T05:12:00.000' AS DateTime), 1)
INSERT [dbo].[BlogComments] ([CommentID], [Username], [BlogID], [Content], [CreatedDate], [Status]) VALUES (4, N'nguyenvana', 1, N'dvdxfvfvbsdgved', CAST(N'2020-12-26T05:12:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BlogComments] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Thumbnail]) VALUES (4, N'Geography', N'Geography is a very important subject in life', N'~/public/uploadedFiles/categoryPictures/avatar3205314190.png')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Thumbnail]) VALUES (5, N'Literary', N'Helping us to have souls flying like never before', N'~/public/uploadedFiles/categoryPictures/avatar205326267.png')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Thumbnail]) VALUES (7, N'English', N'Foreign language communication is an easy thing', N'~/public/uploadedFiles/categoryPictures/photo3210134634.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [ContactName], [Phone], [Email], [Fax], [Address]) VALUES (1, N'1 Lý Tự Trọng, Tân An, Ninh Kiều, Cần Thơ', N'(+84) 327 291 328', N'phamhoangtam342@gmail.com', N'(+84) 3272 91328', N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.7895114728917!2d105.77749831436283!3d10.034220992827693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881fa2f86433%3A0xee52427c850bbc0d!2zMSBMw70gVOG7sSBUcuG7jW5nLCBUw6JuIEFuLCBOaW5oIEtp4buBdSwgQ-G6p24gVGjGoSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1610464259838!5m2!1svi!2s')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [CouponName], [Description], [Thumbnail], [Rate], [Quantity], [Status]) VALUES (1, N'', N'', N'', N'', CAST(0 AS Decimal(18, 0)), 0, 1)
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [CouponName], [Description], [Thumbnail], [Rate], [Quantity], [Status]) VALUES (2, N'Family life', N'Family life', N'Opened on all occasions of the year', N'~/public/uploadedFiles/couponPictures/abc214208689.jpg', CAST(20 AS Decimal(18, 0)), 100, 1)
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [CouponName], [Description], [Thumbnail], [Rate], [Quantity], [Status]) VALUES (3, N'Lunar New Year', N'Lunar New Year', N'Lunar New Year', NULL, CAST(10 AS Decimal(18, 0)), 50, 1)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
SET IDENTITY_INSERT [dbo].[CourseComments] ON 

INSERT [dbo].[CourseComments] ([CommentID], [Username], [CourseID], [Content], [CreatedDate], [Status]) VALUES (1, N'admin123', 1, N'dcsedfdf', CAST(N'2020-12-22T05:12:00.000' AS DateTime), 1)
INSERT [dbo].[CourseComments] ([CommentID], [Username], [CourseID], [Content], [CreatedDate], [Status]) VALUES (2, N'nguyenvana', 1, N'<p>fcvuthjjmmjikmkl</p>', CAST(N'2021-01-10T01:18:05.827' AS DateTime), 1)
INSERT [dbo].[CourseComments] ([CommentID], [Username], [CourseID], [Content], [CreatedDate], [Status]) VALUES (4, N'nguyenvana', 1, N'<p>grfgdftg</p>', CAST(N'2021-01-10T01:26:20.393' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CourseComments] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Username], [CategoryID], [OldPrice], [Price], [ShortDescription], [Description], [Thumbnail], [Status], [Quantity]) VALUES (3, N'Harmonic oscillation and even movement', N'huongdan', 4, CAST(1000000 AS Decimal(18, 0)), CAST(900000 AS Decimal(18, 0)), N'Summary of knowledge and exercises using physics 12 exercises 1 air conditioning oscill fluctuations', N'<p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span style="font-size:13.0pt;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#FF0201">I. Physical target 12 lessons 1
air conditioning oscill fluctuation</span></b><b><span style="font-size:13.0pt;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#333333"><o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">Physics 12 lesson 1</span></b><span style="font-size:13.0pt;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:black">&nbsp;on air conditioning oscill
fluctuations have the following objectives:<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">- Defined statements of air conditioning oscill fluctuations<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">- Write the air conditioning oscillation equation, identify the
elements of the equation such as: mode, oscillation range, cycle, initial
phase,...<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">- State the relationship between even circular motion and air
conditioning oscill fluctuations.<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">&nbsp;<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span style="font-size:13.0pt;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#FF0201">II. Summary of physical theory
12 lessons 1 air conditioning oscill fluctuation</span></b><b><span style="font-size:13.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#333333"><o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">The&nbsp;<b>12-part physics theory 1</b>&nbsp;1 consists of the
following 5 sections:<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: 200%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span style="font-size:13.0pt;
line-height:200%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:black">1. Definition of motor
oscill fluctuations and circulatory oscill fluctuations</span></b><b><span style="font-size:13.0pt;line-height:200%;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#333333"><o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">- Motor oscill fluctuations are the back and back movement of an
object around the balance position.<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">- Circulatory oscillations are oscillations that are repeated as
they are after equal intervals (cycles).<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: 200%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span style="font-size:13.0pt;
line-height:200%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:black">2. Air conditioning oscill
fluctuations</span></b><b><span style="font-size:13.0pt;line-height:200%;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#333333"><o:p></o:p></span></b></p><p>























</p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black">A. Examples of air conditioning oscill fluctuations</span></i></b></p><p class="MsoNormal" style="margin-bottom: 0in; text-align: justify; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQUAAADeCAYAAAA0GBXJAAAgAElEQVR4Ae19B3gU19kutlMcO07yX1/7xk7yJE5u/Ce5sRPbN04c56a4xiaOY8cFQxyb2MYN24BNsykCBKJ3UU0XovcmQEhICCGKaEJ0oUIXAiEBQqjMe5/3zK60WnZXu7Nldna+8zwjTTtzzvm+mXfP+WoLSBEKCAWEAi4UaOGyL7tCAaGAUAACCvISCAWEAk0oIKDQhBxyIBQQCggoyDsgFBAKNKGAgEITcsiBUEAoIKAg74BQQCjQhAICCk3IIQdCAaGAgIK8A0IBoUATCggoNCGHHAgFhAICCnZ5BzSg7FAZygvLAc0ug5ZxGqGAgIIRqlmwTlVZFVa3X41VH6zCldIrFhyBdDlSFBBQiBSlQ9jOuQPnsDdpr9rO7D6jnlxXXYfjW46rc+ePnG/SWn1tPQ4sPoBhdw/D4DsGq/36uvom98iBUMBJAQEFJyUs9L9gfQESf56IMfeOwaEVh1TPa6pqsG3sNiQ9k6TAwXU4l05fwvJ3lmP494dj7M/GYt4/5+Hy2cuut8i+UKCBAgIKDaSwzk5tVS22j9uOSb+ZhDN7HDOFmjqUbC7B0bVH4ToL0Oo17J6+WwHBsv8sw9pP12L2s7ORMzLHOgOWnkaUAgIKESV36BrjEoGgsHXMVvXQq+VXsX/hflSeqmzSSHXlFUz/83TsmrYLmfGZyBqUpWYXib9IxPmjTZcZTSrKgW0pIKBgUdZzBpA9JBtDvzsU1RerQZDYMXEHNK2pauH8kTKkdExB3bU6bBqwSYHCtcvXkNIhBQeWHLDo6KXb4aSAgEI4qRvmZ5cfK8fIe0Zi55SdSnjoLmB0b94JCrVXa90vybFQoIECAgoNpLDmzpbhW9Dnxj5Y33V9swMQUGiWRHIDIEFWrP4W0BhpxA9GoDCtsNmhCCg0SyK5QUDB+u8A7ROW/HsJqiuqmx2MgEKzJJIbBBSs/w4UbypWKkd/RiKg4A+V5B6RKVjwHTibdxbL3lqGKY9OQernqUr74M8wBBT8oZLcI6BgwXfgzN4zmP6n6VjRbsV1dgm+hiOg4Is6cs1JAQEFJyVs8F9AwQZMDsEQBRRCQESrPEJAwSqcMrefAgrm0j+irQsoRJTclm1MQMGyrAu84wIKgdPMjjUEFGzEdQEFGzE7iKEKKARBPKtVFVCwGsfM6a+Agjl0N6VVAQVTyG65RgUULMcy4x0WUDBOOzvVFFCwEbcFFGzE7CCGKqAQBPGsVlVAwWocM6e/Agrm0N2UVgUUTCG75RoVULAcy4x3WEDBOO3sVFNAwUbcFlCwEbODGKqAQhDEs1pVAQWrccyc/goomEN3U1oVUDCF7JZrVEDBciwz3mEBBeO0s1NNAQUbcVtAwUbMDmKoAgpBEM9qVQUUrMYxc/oroGAO3U1pVUDBFLJbrlEBBcuxzHiHBRSM085ONQUUbMRtAQUbMTuIoQooBEE8q1UVULAax8zpr4CCOXQ3pVUBBVPIbrlGBRQsxzLjHRZQME47O9UUULARtwUUbMTsIIYqoBAE8axWVUDBahwzp78CCubQ3ZRWBRRMIbvlGhVQsBzLjHdYQME47exUU0DBRtwWULARs4MYqoBCEMSzWlUBBatxzJz+CiiYQ3dTWhVQMIXslmtUQMFyLDPeYQEF47SzU00BBRtxW0DBRswOYqgCCkEQz2pVBRSsxjFz+iugYA7dI9ZqxfHjOL5li9pWvp+M1e3noChjM07v3BmxPkhD1qKAgIK1+NXYW00DNA3njxxBQWoqMvr1w7K2bTHxwQeRcNttiLvhBrWNuuceTP/LX9Q26sdvYNRP/o1pf3ocUx55pOEe3jvyRz/C7JYtkdKpE/YkJaEoMxO11dWqDbYjxT4UEFCwAK/rqqtxpawMF4uL1S9+zsiRWNS6Ncbffz9mPP44Fr/+OnJGjUL+ggU4u28fai5f9jgqX8uHihMnUJieju0TJmBtp05Y2KoVxt13nwKT9V274sDixSg7eBCXTp9GdWUltLo6j22E4mRpKXD4sL4dOQIQmzyVqqrG+3h/RYWnu7ycI85dA3DFZeOxFAgoROlLUHftmgKB4qws7Jk1Cxt69MDStm2x+F//wtbRo3Fi61bU8KsIoPgCBU+P4YfP5cf+hQuxrnNnLHrtNaR06IAtI0bg0IoVOJuXh6sXL0Krr/dU3fC5xETgsceAm28GbroJWLfO86OSk4EWLYA77wSefBJYu9bzfR7P1gDIBjAQQIJjmwhgNYANAE54rGWLkwIKUcZmzgiOpaZi+/jxakmw7rPPkDVoEA6tXInywsKgehsoKLg3Vn3xogKj3dOnI7V7d2z44gtkDx2qQIMAoYVwmVFZCfzwh8Af/gC0bg2449+lS8Bnn+mg8Pzz3mcT7mNoOOZEZxGg3a1Bu1GD9nsN2ocatI804AsAWxvutN2OgEKUsLzs0CFwWUAQSI+Lw/Zx41CYloYr586F7Jc4WFBwJRWXNASCvDlzsHnIEKT16IHUbt1weNUq1FzhnDz4cs89wJIlOjjk5TV9XnY2sHChDgovvdT0mt9HnA20AfB9AI8BSPG7ZkzfKKBgMnsvFBRg04ABWN2+PXZOmYLizEy1bKir4fw2tCWUoODsGWcHVefPK4A4sHQpNsbFYUW7dji0fHnQ4EBQuHABeOopoEMHZ4v6/0GDgLNngwQFrnoWAngEwBsAHgQws2k7djwSUDCJ65dLS7GxTx/Mf+kl7Jw6FReOHUOt+xw5xH0LByi4dpGyBS5/jmdnI6VjRyX/IMjV19a63ub3PkGB4oqxY4E//xk4eVKvWlwMrFqlLykoUzA8U+DjKh2A0BXADAA/E2AQUPD7FQ3djVyTT3zgASUwvFperqv9Qvd4r08KNyi4NswZBIWhSU8/jQWvvopK5xftelMz+wQFlvx84Ec/AhYt0o+nTgUuXgwRKPCRKwH8GkApgFUOYAhEaKl3K2b+CihEgpWahmuXLqmPZFGbNkqSf4V6twiXSIKC69COrF2LmU88gZzRo3H5zBm/Zw5OUKDQsXt34D//AY4eBdav1wGBE6ugZwrsKFdqIwBQpUm15BhAe1oDcgGEVrHiSpao3RdQCDNraq9exZk9e7B1zBglN6B1oVnFLFDgeK9dvqw0KpSdUBhJcGhOlekEBa4+FiwAnnkGGDkS2L8foJlEyEDBnSFlAD4H8C6AY+4XY/9YQCGMPKYAbt/cuUoyv2fmTFyl1MzEYiYocNj1dXXKvDozPl6pMk/v2uV11kCDJS4ZnGIWyhFefRV45x1dwMjnnT+vzxReeAEIuVy22AEKgwFcMpFpJjQtoBAmopcXFWFTQgK2JSaiND9ffRBhasrvx5oNCs6OEiwPLlumNBX7nYIC50UqBBYC778P3HYb8O67wMCBuh3CpElAUpIOAHFxwFtv6aDw4x8DH34I5OS4PCTYXVo8pgN4HsAaADay9BZQCPbl8VC/ZPNmrP7oI2X1xw8gWkq0gALpQY1E6b59yExIwIbu3VHtYqO8dy+wfHnjls6Pk3LAUn12wH3KFVzv4X5JiX5fyP5eBTASQEsA5k7yQjYkfx4koOAPlfy8hy/6jgkTlJ5ezQ5CPqf1syNebosmUHB2US2x5s/HkjfewLmDB52no+c/VZYvA+gcPV0Kd08EFEJEYQoUafrL9TL3o7FEIyiQTlRfnsrNxeJWrXDiiy+Ali0BrhWihY77Ae0bGpAfjVwNfZ8EFIKkKV9oStJp6puXnBy1gMBhRisoOFlwbcMGXP7Od6BRz3jrrcDmzc5L5v9/B0BrAMbssMzvfwA9EFAIgFjutxIQ6KREr0X6AITK5t+9nVAdRzsoaBszUXfnXShp8X1c+MZdqKNUMVpKAaD9UgMyo6VD4euHgEIQtKUTU/awYcpLMFA35iCaNVw1mkGBDpaFOWewuWV/xH1/Mubf3w37Jk0BXcijplDo+J/YV1EKKBh848oOH1auw0fXrUN9lAkUvQ0pmkGBmoXBg4E18yrQ7rUKTBh8GtmjElXwGBUBytugInmenuvURGyKZKORb0tAwQDNGQGJKseS7OxmrfIMPD5sVaIZFPr00e0TKFukzcHMmcClsosKFGjrYdSpKqTEpBETLR17Awhf4KmQdtnIwwQUAqQavRvXfPIJTuTkhDSoSIDdMHR7tIICFQ7TpjVaLzpBgebNtF+gzGYXvaDMLjRgSnUIHAvM7kz42hdQCIC2DD2W1rMn1JIhjDEKA+hSQLdGIyiMHg0QFFwjui1bBjDYtPMcnccy+/dXxmABDTgcNxcB+ADA/HA8PDqeKaDgJx+uVVaqaEh7k5ICjo3oZxNhvy2aQIFiGJoz9+jh37AZtTpzwAAVuLY5Ryr/nmjwLnpUMkITZwwxWgQU/GAsg5/QsWnr2LEqUKkfVaLylmgBBSoUaLrcuzdw7pz/pGLAFkapukD/6RDGg/S/B/a4U0ChGT7zV4mRhBglSb2MzdwfzZejARQoJ6D3OMOpHTrk+dvOytJDtzuXD06aUtjIyNZ0Q2eYeSnhoYCAQjN0ZZ6D9V26oIRvqsWL2aDAj3zfPt3rcfv2RpmBO1ldBY3u1xipitGtaSwmJTwUEFDwQVfaHzDfQf78+VHh+uyjq35dMhsUTpwAqHrctAnwFbbRFyhwoExcs/K993CSyCIl5BQQUPBBUk5TKdyKVgcnH133eMlMUKAc4dNP9YQtzdl6NQcKHNy5AweQ/Le/gSpiKaGlgICCF3oyKlDyc89Fh9GMlz4GetpMUGjbVs/h4C4n8DSGESN08PCp9dU0FdaNMwYpoaWAgIIHejLI6sp331XqLw+XLXvKDFCghWL//sCECaEnG3NjMI1dgbe8cqFv0hZPFFBwYzPzJ+5NTsbmwYOj3uvRrevNHkYaFJjabfp0PdiqPzOEZgfgfgPjMOzYgTUffYTLzAzjVqig2LixcTt92rO2g3Egt21rvG/XLrcH2exQQMGN4XR0Ypbls4wJFmMlkqDAxNdLlwKjRulZngIhJcOqMYqdP6YIVE0y2tWuadPg7jhVVAT8+9/AL3+px3KkXYSnDNaZmXqQWIZxaNMGSGDCWRsXAQUX5jMMOV+w3TNmxNwsgcOMFChQqMgZPcOx88P05+N2YQOGDQNSUvQw7q7nPe5rmgJw2pGc3r37ulso1Pz8c+BXvwJ++1u9P643cZYwaxZw1106cIQoDaZrE5bbF1BwYdnJbduQ1qsXaFIbiyUSoMBlAqfi/LVlfgYjywZ/tA+u/OEMgTOFHRMngubo7oVq0C5dgJ//XDetdr1O40imsP/pT3VQcL1m130BBQfnKVzkLCF38mRr2CQMAJAd2GsbCVBgfoaOHXUjJZ/aAx9dDxQU+Cgm6l3bqZNKdOv+aILClClAt27AT37S9CpnJFu3Ag88IKDgpIyAgoMS5w8fVlGYK44fd9Imev8nAhgduE9/uEGB6/WXXwY4iw90yeBKbCOgwNB4OaNGKVCvcxMcEBQYn4Ef/7e+pXtgsj3m5mEYSAogH3qoKSjw/m9+U99iULzkSu7r9gUUGE24vl5ZLab567J3HRlDcIK++gwCzXyGVxzP4znmGyh35DhkYI/TAPoCoDCM+80F+zjT2LdmQYF5E519YDVGQmPaCjotsU8+EqJQ0/CvfwFpaY3tGd0rKNBzPAQKLBQOr2jXDlfcvKycoMD+MBXdBx/o8gpqGTIy9F66ggItLpm30lkoj3BmqnKei+X/AgoAqi5c0PMOcBFsRuGHSDUY44jEA1jg6EQ1oH2iAYwkzPiAdCD6fxq0H2vQfqKpfZzy3WEVmtxxi09QqHKEGZsNYDiAiwAmAXgTwAsA+gA46hkYaFTYt29jVmjfPQrv1dRu3ZRHq2srrqBAAeh3vgPk5QG0kj58WL9TQKGRYgIK/B6nTVPxFhvJEsE9AsIsAO8zXxoA/rIzFiCjmzPRabUOEloLDeCvGlc3/QBs8K+PfoEC21gEaK00PVYAZx9zAe1nGkDNbDGgPa4BgxwZml2aLisDxo7VJfhGZQguj1O7TBZl9JeZwXTnPPdck4xTrqBAVScBwGly7dQ2CCg0csH2oEB33C9/9zvwZTKlMGT4XwEsdvwKnwC0FzX9nDPtAT9KgsIUAKsArYOPebzbIJoFBS4ZqMl7AwBnCVwyXAW0RzV9lkDAKAe05zSgo+O6ow1+vFTnUYjnkvXNrQeBH9LgiVN4oyCz7K23kM8ILkzTUKtHdpo8ufF53L/3XmDHDr1vtLr89a91mQLtK2T5EDjPYqpGcVYWklu2NCcAK6fo/NDaO9bupGyODgDasxrgjAO4xwEKa/0AhRWA9qrWuN3UuF96fylODDqB2qsuGU04UxkL4DUAjqk0DgLarRqw1MFqWgI+rQHMwMzIQ5zAVOvGSQyn5sGY0FHR2D8jgkbXloo3bcLsZ54BZRMvvQT87GfAgw/qQlDKPmgcRbkCZwnz5wMvvqgvKWi89I9/AI89JjIFV3rabp+Cqf2L+TNtQmE6sic1YKLLL/BWQPuppmYEDULESQ5Q2A5ob2iAr0SqXH7wF9CxaV/XGvZ3td+F3EG5TUGBgsQPAe1drTGJ6lhA+44GnHTQhKHHXgSwU5/N0PaAVoC0EDx5MjhNgyeqBwsKzBUx9Q9/wPE9R9RsgDMC58aZA/tPjQML+++85vz/5ZcCCp74YotzVy9cwIQHHjDPLmEvoP1ZA5a4kHs1oD2hNWoVSgHtXg2Y5xA0cgYRQGl2+UBtxxeA9h9N1zJcArTvasDHjuVMMYBXAQyhRFZvmMK5t9/WPyh1hrZeXNq4TEAC6OJ1twYLCnzglpEjlf/KdQ/34wSXLUxlSfUlN0aKslOxtUxh9/Tp2EixuVmlENBe0YBRDqFijkO2sNyxzqfAsSeAmY4OHnYI/M4C2sca4EjR7qv7zYIChYrMzvYQgOnM8Q5ot2kAAxsx6UkvAF/qWZGoIqSmgVPsAi41OJMY7hBIvt64tPDVH3+u0cKQEZqMWEPy+XVl5ahv3QZX77wTGr9uXxFd/OmQze6xLSjU19Vh+dtvo4jzYDPLLkBro+kfPyX9FPzxP7URHRzLAOcvcAmg/V5TG7UF/hTtL40zC68qScoVcvWUaJQlaHdr0B5zzGCONbbCNTrDF+xYBn3m8g8AzwNY7dCSNN4a0T2CFQWE9LPIzQX2tB6Imhu+Bu2GG6H97ne61VJEe2TtxmwLCheLirDotdc8utxam6Xee+8VFJxVqPm4XwOGOk80/i8s1G0R0ghGjGvybQC/ddhWcEbTnBFV46NCtkc3B9obLF+uq0V79gTatQPy2iRA++pXUX/TTaj7zW90Z4yQtRr7D7ItKBxcvhzpvXs30WfHOrubBQXKM36oAW6hDxlbkR6PK1cCdVwy0MT6YUC7WQN+AeBfDkOnE6GhINfwdFTytHyg9oACQaoVe/XShZ39+ukyAJosl1N9SnVI796obNkS+155BbU0TpDiNwVsCwrMH8Bw4VGV1dhvthm70Sco0B6BwsWnXdSjFHWUARMnAvPm6So81TKXM5R/dIayrMR9AJ4F8JxjuWOsew216LhEVaFTFED1Jz94JqDl8qV7dyAxUZ8h0M+CPgzXlepqnM/MxJqPPzbPBuW6TlnjhC1BgR6RfFmKaPgeqIG9NfjqsZc+QYGyDJoxU4bAfejrdBonUVZ3kTYVroWiCn6MFIpStvB7AF0B7QEt6OxJ1D7QIIpGRHFxwJNP6mDAczk5AJcynDE0VxiNienmDq9a1dytct2FArYEBTrObPj8cxUR2IUWMb/rExTcRk+1HJcLNBH2aa1IWQIdtigcpcByjAMgeBxgYXAWLg0IAnfcATz/PECbATquUpDIgCmBYDhngUxMmz3Ug5AkwL7Z6XZbgsKBJUuUDtvdmy7WGe8vKPDDo5tx+/b68iEgutCbkmrU1g4/Di+V6+uA2kqgohzYs0efETz6KPDUUwAVBklJOgg0qc7ZCS0qnR6bBCTGVOGMhTYUjhmOa52ja9civVcvVHmRK9Dlevu4cRh8++3KMc61rl33bQkKO6dMUb73NU5vGJtw3x9QICAw4/M77+jmwIZIw8zM9KWg+bTDLJrPoeCQMsADB4ANS4BtfwXeegJ44QVdbkGVotfC53D2QfuJEQCY7oH77wHaUxrwuUOt6qYFYco/CpTLuebwUCpPncLStm0Rf/PNKpu4h1tsd8p2oEAHqOxhw0Bg4K+EnYo/oMBQavQgPHgwCMpQEEnPz9eB2nyA2gtm3Zs9Ww/T1qEDwG1fS+AcA8Y0V/ihM8oUgYaGVJehDLe0r2kAs/kx3sO7jhTxbglrS/fvV3lATxPp3ArjaBSmp+PImjVI/PnPseRN+olLsR0oMBchNQ8HzPJ3MPGdaw4UOI2nmi/YEOfUGpxMB8qeBBa+CfTprS8P4uOBZct0daPKEkUvUKoz3QodVumb0IDZVIN+4nAZJyDQk5O+GI86lg1cTnRxmGO7qUUrT57Exrg4FHqI/lJVVoYjKSmgzQpDufX9yldsZbfiRvaGQ9uBwsXiYmXaXMSEADYrvkCBHyKjKFMhY9Rl+dQpIDkZ6NwZ6PA+kPE7YPPLwMbVusbgunRxFEw+7BJpysEPJo+hQZLqBydzawA8RocGxw2MEP2/NH3WwFPUjFCd+oFj1uDCVy4RGel5/6KmJqCcJTBQL2cJFEhyv/8tt6hjl+q23LUdKJTm5yvBE9PC2a14AwV6CjJV2+rVADUAgRQuDai2ZCi2v/9d11ZQA0jfhfIEQKNruNuUvsnzadvgFpm9iUMUhYeDHY5jTq/NeYD2bU1Xn/Jh+wD82xGxyk2mwCVi1sCBoJ8LE/04C9XSx9LSwOUFC/OFJtx2G1bRp9rmxXagcDwnR0VZ4ozBbsUTKNBUmMZJDGziFu/UK3moopw6VVcZPvywPjOgzIBGRIyY1PDt0fuzncNxytvTPnOYSrtcbwIKnCl8CWh/1FQEKGoZlBcpPTcJGJwldIUeso6RqjyUnV9+iW1jx4JA4CwMqvPlI49g4H/9Fwbdfrva+txwA4bedRcqiXQ2LrYDBQbgSO3eHZQ62624gwKn85xVc63P6EPuhWt6ygeopGFgkjlzgNat9RwJFEbSl8wnkNBRio5dzl949wZ4zA+awkOX0qmT3pbTopFm14xJqdy3NwHarzSAAso9ABjqnuHpvAACH7tn5kzlSl3tsMCqr6nBsdRUtWRwaRacRRIguKSwc7EdKDAZ6fouXTwmDYn1F8EVFPhrzuUCTYpdfkAVCfhrT4MhGhJxafDxx8Bzz+kJVVJTA1hi0CX7IwDXp3lsJDWjTumR0xrOcRJH8+oGQSO1GZzldwG02zV9e1ADkh1Lh4aanncOLluGTQkJDWnrGcY/a9AgtWRwrzH3hRew7O23wWxhdi22AwX+Cqzv3Bk1RiODWvhNcYLCtSu1ChD4sTv9BrgkoMch5QFcTlALQT8DziLS0wEPiZd8U4JT+/4OQyZ3E2nXmpQpXK8tdL2jcZ9A8bKmu5QH8M0eWrECmQMGKM0CBY6rPvxQfficNTJztbPkL1iApGefxbC770ZGv36g3IkqbDNKk5B5Ee6A7UCB3pHrPvvMnJiMEWaue3NOUFixpFblVzx2TJ8NTJsG0NOQfgYMscbozE6PQ/dn+H3MJQMDr9Bewdt3RQHknxzm0f48eAegPaL5fqaH5xSkpiI9Lk7JCjhjoIUjt7w5c5rMFugn4bzG/7SGdAUND48Oy6mS7BJsjNuI0ztPNRGOhqUxDw+1FyhomrJP4PLBduXqVeR1T0bi8+vw5ut1aknAhCf0OGRm6CVLdPsELrsbpu1GiUThIAOxvOTIZ+HtOfRT+vD6izNm6MZODQJL3kJgoRzhj42xIq+v6fkMA+mk9e6NCgpGLFDO7juLtZ+uRdIzSdgyPBuVJ67PjxnOYdgKFDgVzEtORoaZIdjCyU1vz+b6ePx4bPnBK/jgW0lo+7dSTJygqUSwjKbEpUPQQODaNhU7NEri8oGGRZ4K33PKG2iR6FZo58AI7U1AgcsRftOULXgQiro9osnhqdxcJVy+wKmRRcqVc1dwaMUBzH9pPma3nI0DSw+gtsrblCu0gwo7KAy5cwiiZrtjMBK+1Q8Dbo2Lnj5FgD5T7uiGA998EMNbdMTaG59G6tefxcBvJ4SFBiPuHIHs27Nx5GtHMP628V7bSP2fqUi5OQUjbh9x3T09bxmGft8eet15o+/RoP+RgP639Mag2weG7JlG+xJIvcG3D0L81+PR56Y+SLgtQc0eaq40ykBCCwWNTws7KBRlFiFatsKMQmTEz8KiNt2jpk+RoM3xxVtR+ehfcfWmW1F/y6043zkBxWlHwkKD4tRinBlzBieTT/p8/sk5J1GyssTnPaGizbbEFVj6Zi/kL9gWkfZC0e/CjYVqdrD0zaUY+t2hWNFuBSpPRmYZEXZQaMSf6NijeoqCxtDOl6NjbF57QffEHTtw/vGXUdqmA+pOumSd9Vopdi7Q6SmtZ09YIqM4Y+BWVKMwvRALXlmApL8moWBdAepruH6KTLEdKDAKz7rOnW0Vhs35Kjm1D2aqu5x9ieT/o+vWqQhMlyxisFaw7ihmPjkTW4ZvweXSAHSvISKq7UBBjJeymmaICtGLFMxjMuPj4b4xYtLJ7dtDYkTkbrwUTF8jUffCsQs4m+fL4iu8vbAdKHAqyXTldJu1W4nWmQIBYMMXXyCuRQvMevJJFUJtb1ISNg8bhkWtWyPYCFn75s/H5qFDvUZfstt70Nx4bQcKJdnZSP38c1TY0OklWkGBLyn9DggKKYy+wjQS167hbF4e+tx0E7aPH9/ce+zz+q5p07B19GhUB2yW6fOxMXvRdqBA01UKnc4xJpjNilFQ2Dx4s5KEO8lFaTi3lA4pzlNB/z9/+HATUOADGfOAQDGRKaODKFtGjEDu5Mm2lCMZIZvtQOFCQYEKum9vySAAAA9eSURBVFFCO16rFlr1MMvrmDHQvvc9aMyCyqQIzJnmw1bfCCjkzcnDgG8OQN+v9EXxpmIMvSs8kZGdoLDmk090zZCmqSVenxtvVPIGo6zijINBVvYxcUWUl9rqWtTXNWoZrl26Bm511xrjQERiCLYDhSulpXouAMYvt2KhdSL9nRMSAGZCIUDQHJHeTAkJ0DjV9iIvMQIKThKt77oe/W/pr9RlznOh/O8EhdnPPqviJnKZR1+ExF/8IqhkLpdLSxUo0I8hmsvls5cx75/zkDs5F3U1dTix7QQm/HqC2raO3hrRrtsOFBhhh26zFGRZrtDegEEM3nhDz5TiPoAjR6AxQsncuR79m4MBBTY18aGJYQeF0T/9Kea/9JLacr/80msUZvehezs+f/SoiuZ8PMrzyR9cdlCZNA+5Ywh2TNyBRa2bho/zNr5wnLcdKJCIjMKzbdw4MNiGpQoDH/TsCa1VKz1WunvnGQ2FHk4EDQ86+WBA4eDSgxj2vWFhBwWnoNF9aEaPT+3YYSkZEmcKNGk2s9gSFLi+ZNYgRna2VCkpgXbvvdAYR9AToHEmMXAgtB/8wGOm5WBAYWGrhYhrEWc5UDi2YYNyh750xjpWnMO/P9zU19KWoEAho68EIaZyxFfjhw9Da9ECmkNt5/HWIUPUPfAQ0twoKOycshPbxm5D0cYizHpqFqouVGF1e8ZaC105vXu30jSsfO+9JjEOgmmB2ou8uXOVoNKsYCmB9p8anX5fZ3w584otQYHmrikdO4JTS0uV0lIVLVV7/32PMgM1liFDgMcf17UTboMzAgr7FzKZykbUVOlLrYRvJWDcfeNwpdSbT7Rbo34cDvve9zDkzjsVKPS/9VYV+Ugl//Wjrq9bGJMxZ+RIlV3c133RdG36X6arGZmZfbIUKFBl4yxavab8y+ljrtUFnumJoEA/CP6aWKYwhNygQbpMwYPMAFwOdeyoh1f2sDQyAgqWoY2HjjKoCoP0RruQkV2vr63HyndXoihDz50X/414nNx+0hSBo2VAobywHKN+PAqnck8pve3e2Xsx/v7xaqP+PNDCYCvUQriG/Q70GabczyVE1656SmgKHp3RUShkZCaXHj109aSHztkNFJgqbvlbb1nCknH39N3IX5jfwDW+2wywYkaxDChsStiEeS/OQ58b+2D3zN1qShsMwc7s2YMV77wTtF19MH0wVJcCRiaymTRJj6HGOGpMgUe7C9ooUPXmJaOLnUCBiV/2L1yIDZ8z8+z1pep8lfolvv6KnIlaUMgalAXnRkMOZ0ntloqR94x0Hhr+z3RiC1591brmzpQv0GahVy995kDBoqclhQuF7AQKtdXVSutAYPBUjm85jsWvL/Z0yfbnohYUqP5ybpuHNDVJDgUokPN0193BeOY2KXYCBaqb5zz/PJhg1lMRUPBEFf1c1ILCsQ3H4NwuFjcmDpj15CyvM4UZj81AxYkK8P+2xG3IGZXjc4p4dt8+zHr6ae/UibErdgKFA0uWgH4UzCXpqXgDhasXrmLNx40Zohhqne8TN7uUqAUFbwzo+9W+HkFh2h+nqZnFlEemYPeM3Rhw2wDkjMxR9uQXSxpBxfW5XHfObtlSJf1wPR+r+3YChQWtWoGGS96KN1AYdvcwZSfAEOtZA7PUu1RRUgFudimWAIV1n61D/oJ8jP/VeBWrrvxYOWY+MRNbx2yFq7MIlxssh1cdbnDrpbEN7/dW6AOxmv4CNih2AYVLp09jzH//dxOOLm27VH3sNAxS21f7qSjJDceO86xUsrlEeYWSXnYslgAFyhQS/08iLhy9oHjEJQKPM+IzmvDMCChUnT+P8ffdh6uO5KNNHhhjB3YBhc1DhmDTAGae9V68zRScNWjFKaDgpIZF/xekFqjlA/9zppD8XLKaIXCmsGOSb8vFVR98AIbsivViB1BgYthZTz0FumL7Kr5AgerK1R+tvg4UaChXklWC8qJy0EHs0ulLSu5FQ7pYKpaYKfhDcK7/uMzg/3MHzql9TgNzJ+WqfV/PoJHL0jffhDNVua97rXzNDqCgBIwfMfWU7+ILFGgMx1mn+0whrUcaRv9kNDL6ZmDS/50E5mRgnAl37ZjvlqP/asyAQjCkpgs1Q7R502kH8+xoqhvroMCl4PK338YZBp9ppngCBTojMecChYzbx29Heq90ZUGb0S9DBT6hAd2Ye8coU2T+AK18fyWoraDwO5aKgAK5qWk4sXUr1nz8cUxHeY51UNg3dy6YVZqGac2V6ovVKN1X2uQ2OnvN+fucBjV2avdUZUZPk3ouESqOV4AOSywEBS4hWAQUFBli7w9/ZTYPHoz8BQtib3COEcUyKDAM/NpOnXTnJy+2Cc0xlvYwrqpHzgLoc+OMkSig0BwFY/D6sdRUlX/gipcYh1YfciyDApd+1DqEM58Hg9dyW/neSqzvsl7tl+4vBT0aR//v0VZ/PRr6L8uHBlIAl8+eRdbAgTi8ciVo2BRrJVZBgXYJGf36IdqDs1rlfRJQcOMUreAy4uNBX/xYK7EICnU1NTiweLFa+tnB1iQS76SAghuVay5fVtNQ2i3whYulEougcOHYMeUezbyTUkJDAQEFD3Sk4cvKd9+NudlCrIFCfV2d8nLdOmZMzAG4h9cyYqcEFDyQmp51e2bNUkJHD5cteyrWQIGp/5a88QaY8EVK6CggoOCFlkwawxfOl6edl6pRezqWQIHp4Ba88gpCEeA1ahlmUscEFHwQvrqiAlMefRSVMZKhOpZAYWPv3sgZM8YH9+SSUQoIKDRDuRM5OVj14YfWi+XoYVyxAApUFVNlvMYP/wYPJJBTflBAQKEZIjGJCBOKZA9jyjRrB9qwOihQ1nN61y6Vs6Pi+PFmOCeXjVJAQMEPytFKjklF9i9aBK5lrVqsDgoXi4tVnITC9HRQ8yAlPBQQUPCHrpqGsoMHlf0CU85ZJQWZ+9CsDAr0bcidPBnMA2q5XB3ujIjyYwEFPxnEXyZOXTP69sW5/fsbk7D4WT8abrMqKNDrce/s2dgxaZL1kgJHA+MD7IOAQgAEIzAwBRlTztGr0mrFiqBAOcKBpUuR2b8/rl7Qw/FZje5W66+AggGOFW3ciIWtWhmoaW4VK4ICkwAvfv11WTJE8NURUDBIbLrqpnTooLvqGvTfN9i04WpWAgVGwzqVm4t5//wnqmSGYJjnRioKKBihmqMOhV6UMdBXwgrZq60CChQkHklJUZGwLp85EwSHpKoRCggoGKGaow61EAXr1im33VM7d0a9mswKoEBZTf78+Soj+CUBhCDeTuNVBRSM007VZCLT4sxMBQyM8xjN6spoBwUCwu6ZM5Xn46VmkuUGyTap7oMCAgo+iOPvJcZdoLqSEaGPrFkTtVGbohkUrpSWqtnBrmnTwH0G05ViDgUEFEJEd8oUyouKkNKpkzKJDtFjQ/qYaAWFCwUFSptDi1ExTAopyw09TEDBENm8VyI40E9i7gsvRJ0tQzSCAoFg4oMP4vyRIzI78P5aRfSKgEKYyF2wfr3KOlWSnY2aqqqoeOGjBRQod6FWgSH11376Keqqq8PEBXmsEQoIKBihmh91OGM4s2cPUrt1w86pU5XvhNlCSNNBQdOUmTID16R2767o4k/iFj/ILbeEkAICCiEkpqdHMUDL9nHjsLFPHzCDUTjzEnhq3/Wc2aBA7cyWkSNVOHZGTJIZgit3omdfQCECvKC79Ylt27Bl+HCs79JFhXgz44MwCxTo8syxExjz5sxBpagbI/DWGW9CQME47QKuebW8HIwFkB4Xp0yki7OyIhqFONKgwI9/W2IiVn3wAXZOmRIVS6iAmWbDCgIKJjCdQrajKSlY/s47WPnee6DTTySChkQKFAh+jH2wqHVrbBkxAoy6zEC4UqxBAQEFk/hEl2AK2WjsNPOJJ7CiXTtUnjwZ1t5EAhQYGp/Bbtd36wYmarGCT0hYiW7BhwsoRAHT6BHIbNeTH35YGfEwJmT5sWMqJmQoc1qGFBQ0Tf360/qQAsS0Hj0w6aGHsLZjR2XEFQVklS4YpICAgkHChasa7Ro2fPEFlrz+OjLj41XkYqo2uT6nn0UwJRSgwKUBDY3o70E5war27bG0bVvsTUqKiYjXwdA3VuoKKEQhJ7m0oEMQrf3Wd+2qNBaMPESh3cGlS1WcAao2A52aGwEFAhHNkAvT0rB7xgxkDx2K9N69sbZTJ6VRYMwDkRdE4UsURJcEFIIgXiSq0tnq/NGjOLJ6tbJ3IDjwo6TxT3qvXtg2diwOLluGY2lpatruy3fAFygQYJjSnS7gTOlOxyQCAFWodPRiqvesQYOQl5wMJnOV0GiR4L45bQgomEN3Q63yw+UMoTQ/X9k6MMjL9gkTkBEfj/XduyttxsLXXlN+F6s/+kit87nW50aT4gWvjsWc5wcjrWefhmuciSxu0wbzXnxRLQMYf5LLl5zRo7Fr6lS1fKGNxcWSEjE2MsQ161USULAezxp6TDUmNRhXysrUrzyn+VT/nc3LU5GLCBoUWnJjJOTpf+mFuf8Ygl3TZjWc3794sRIUlu7bp2QFFSUlYHCT6spKWRY0UNpeOwIKMcpvyiU4s2jY6uqQGZ+BTQmZqLlyrfF8fX2MUkCGZZQCAgpGKWfBer5kChYcjnQ5TBQQUAgTYaPxsQIK0ciV6OuTgEL08SRsPRJQCBtpY+rBAgoxxU7fgxFQ8E0fuapTQEDBRm+CgIKNmB3EUAUUgiCe1aoKKFiNY+b0V0DBHLqb0qqAgilkt1yjAgqWY5nxDgsoGKednWoKKNiI2wIKNmJ2EEMVUAiCeFarKqBgNY6Z018BBXPobkqrAgqmkN1yjQooWI5lxjssoGCcdnaqKaBgI24LKNiI2UEMVUAhCOJZraqAgtU4Zk5/BRTMobsprQoomEJ2yzUqoGA5lhnvsICCcdrZqaaAgo24LaBgI2YHMVQBhSCIZ7WqAgpW45g5/RVQMIfuprQqoGAK2S3XqICC5VhmvMMCCsZpZ6eaAgo24raAgo2YHcRQBRSCIJ7VqgooWI1j5vRXQMEcupvSqoCCKWS3XKMCCpZjmfEOCygYp52dagoo2IjbAgo2YnYQQxVQCIJ4VqsqoGA1jpnTXwEFc+huSqsCCqaQ3XKNCihYjmXGOyygYJx2dqopoGAnbstYhQJ+UEBAwQ8iyS1CATtRQEDBTtyWsQoF/KCAgIIfRJJbhAJ2ooCAgp24LWMVCvhBAQEFP4gktwgF7EQBAQU7cVvGKhTwgwL/H2K7l94biEDEAAAAAElFTkSuQmCC" data-filename="image.png" style="width: 261px;"><b><i><span style="font-size:13.0pt;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:black"><br></span></i></b><span style="font-size:13.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:black"><o:p></o:p></span></p>', N'~/public/uploadedFiles/coursesPictures/sawwwssssssssssss213300087.png', 1, 123)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Username], [CategoryID], [OldPrice], [Price], [ShortDescription], [Description], [Thumbnail], [Status], [Quantity]) VALUES (21, N'Inorganic and organic chemistry', N'giaovienne2', 4, CAST(1200000 AS Decimal(18, 0)), CAST(1100000 AS Decimal(18, 0)), N'Intimately interconnected with the intellectual challenges of chemistry', N'<p class="topic-paragraph" style="margin: 7.5pt 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
minor-latin;mso-bidi-theme-font:minor-latin;color:#1A1A1A">The great challenge
in chemistry is the development of a&nbsp;<a href="https://www.merriam-webster.com/dictionary/coherent" data-term="coherent"><span style="color: black;">coherent</span></a>&nbsp;explanation of the complex
behaviour of materials, why they appear as they do, what gives them their
enduring properties, and how interactions among different substances can bring
about the formation of new substances and the destruction of old ones. From the
earliest attempts to understand the material world in rational terms, chemists
have struggled to develop theories of matter that satisfactorily explain both
permanence and change. The ordered assembly of indestructible atoms into small
and large&nbsp;<a href="https://www.britannica.com/science/molecule"><span style="color: rgb(20, 89, 157);">molecules</span></a>, or extended networks of intermingled
atoms, is generally accepted as the basis of permanence, while the
reorganization of atoms or molecules into different arrangements lies behind
theories of change. Thus chemistry involves the study of the atomic composition
and structural architecture of substances, as well as the varied interactions
among substances that can lead to sudden, often violent reactions.<o:p></o:p></span></p><p class="topic-paragraph" style="margin: 10px 0px 20px; font-size: 20px; line-height: 1.8; font-family: Georgia, serif; color: rgb(26, 26, 26);">

</p><p class="topic-paragraph" style="margin-top: 7.5pt; margin-right: 0in; margin-left: 0in; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#1A1A1A"></span>Chemistry also is
concerned with the utilization of natural substances and the creation of
artificial ones.&nbsp;<a href="https://www.britannica.com/topic/cooking"><span style="color: rgb(20, 89, 157);">Cooking</span></a>,&nbsp;<a href="https://www.britannica.com/science/fermentation"><span style="color: rgb(20, 89, 157);">fermentation</span></a>,
glass making, and&nbsp;<a href="https://www.britannica.com/science/metallurgy"><span style="color: rgb(20, 89, 157);">metallurgy</span></a>&nbsp;are all chemical processes that
date from the beginnings of civilization. Today, vinyl, Teflon,&nbsp;<a href="https://www.britannica.com/science/liquid-state-of-matter"><span style="color: rgb(20, 89, 157);">liquid</span></a>&nbsp;crystals,&nbsp;<a href="https://www.britannica.com/science/semiconductor"><span style="color: rgb(20, 89, 157);">semiconductors</span></a>,
and superconductors represent the fruits of chemical technology. The 20th
century saw dramatic advances in the comprehension of the marvelous and complex
chemistry of living organisms, and a molecular interpretation of health and
disease holds great promise. Modern chemistry, aided by increasingly
sophisticated instruments, studies materials as small as single atoms and as
large and complex as&nbsp;<a href="https://www.britannica.com/science/DNA"><span style="color: rgb(20, 89, 157);">DNA</span></a>&nbsp;(deoxyribonucleic acid), which
contains millions of atoms. New substances can even be designed to bear desired
characteristics and then synthesized. The rate at which chemical knowledge
continues to accumulate is remarkable. Over time more than 8,000,000 different
chemical substances, both natural and artificial, have been characterized and
produced. The number was less than 500,000 as recently as 1965.<o:p></o:p></p>', N'~/public/uploadedFiles/coursesPictures/science-test-e213841452.jpg', 1, 123)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Examination] ON 

INSERT [dbo].[Examination] ([ExamID], [ExamName], [CourseID], [Time], [ExaminationDate], [Status]) VALUES (2, N'Full geography exam', 1, 60, CAST(N'2021-01-10T18:04:00.000' AS DateTime), 1)
INSERT [dbo].[Examination] ([ExamID], [ExamName], [CourseID], [Time], [ExaminationDate], [Status]) VALUES (4, N'Vietnam geography exam', 10, 22, CAST(N'2021-02-19T18:04:00.000' AS DateTime), 1)
INSERT [dbo].[Examination] ([ExamID], [ExamName], [CourseID], [Time], [ExaminationDate], [Status]) VALUES (6, N'Organic Chemistry Exam', 1, 35, CAST(N'2021-01-03T20:27:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Examination] OFF
INSERT [dbo].[ExaminationContent] ([ExamID], [QuestionID], [Mark]) VALUES (4, 31, CAST(12 AS Decimal(18, 0)))
INSERT [dbo].[ExaminationContent] ([ExamID], [QuestionID], [Mark]) VALUES (4, 40, CAST(20 AS Decimal(18, 0)))
INSERT [dbo].[ExaminationContent] ([ExamID], [QuestionID], [Mark]) VALUES (4, 41, CAST(12 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ExamResults] ON 

INSERT [dbo].[ExamResults] ([ResultID], [Username], [ExamID], [ExamDate], [Result], [Mark], [Time], [Status]) VALUES (28, N'student', 13, CAST(N'2021-01-19T15:18:33.673' AS DateTime), N'0/2', CAST(0 AS Decimal(18, 0)), CAST(N'2021-01-19T15:18:37.710' AS DateTime), 0)
INSERT [dbo].[ExamResults] ([ResultID], [Username], [ExamID], [ExamDate], [Result], [Mark], [Time], [Status]) VALUES (29, N'student', 4, CAST(N'2021-01-19T15:19:04.360' AS DateTime), N'7/8', CAST(88 AS Decimal(18, 0)), CAST(N'2021-01-19T15:19:23.477' AS DateTime), 1)
INSERT [dbo].[ExamResults] ([ResultID], [Username], [ExamID], [ExamDate], [Result], [Mark], [Time], [Status]) VALUES (30, N'hocsinh', 4, CAST(N'2021-01-19T15:28:54.853' AS DateTime), N'2/8', CAST(23 AS Decimal(18, 0)), CAST(N'2021-01-19T15:29:07.697' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ExamResults] OFF
SET IDENTITY_INSERT [dbo].[LectureComments] ON 

INSERT [dbo].[LectureComments] ([CommentID], [Username], [LectureID], [Content], [CreatedDate], [Status]) VALUES (1, N'admin123', 1, N'ZCzczdvc dv', CAST(N'2020-12-22T05:12:00.000' AS DateTime), 1)
INSERT [dbo].[LectureComments] ([CommentID], [Username], [LectureID], [Content], [CreatedDate], [Status]) VALUES (3, N'student', 17, N'ngon lanh canh chanh', CAST(N'2020-12-22T05:12:00.000' AS DateTime), 1)
INSERT [dbo].[LectureComments] ([CommentID], [Username], [LectureID], [Content], [CreatedDate], [Status]) VALUES (4, N'student', 17, N'khoa hoc rat bo ich', CAST(N'2020-12-22T05:12:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LectureComments] OFF
SET IDENTITY_INSERT [dbo].[Lectures] ON 

INSERT [dbo].[Lectures] ([LectureID], [LectureName], [CourseID], [Overview], [Path]) VALUES (1, N'Chapter 1: Web component Development', 3, N'ngon lành cành dào', N'~/public/uploadedFiles/lectureVideos/Bai2SonTung205133758.mp4')
INSERT [dbo].[Lectures] ([LectureID], [LectureName], [CourseID], [Overview], [Path]) VALUES (11, N'Chapter 1: Hello World', 3, N'<p>dc qua ta hihi</p>', N'~/public/uploadedFiles/lectureVideos/Bai4205644230.mp4')
INSERT [dbo].[Lectures] ([LectureID], [LectureName], [CourseID], [Overview], [Path]) VALUES (15, N'Bài 3: Những nguyên lý của Hoàng Tâm', 4, N'<p>21331</p>', N'~/public/uploadedFiles/lectureVideos/Bai1Hihihih214315065.mp4')
INSERT [dbo].[Lectures] ([LectureID], [LectureName], [CourseID], [Overview], [Path]) VALUES (34, N'Chapter 3: Thanh Giong', 22, N'<p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:
&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
minor-latin;mso-bidi-theme-font:minor-latin;color:#333333">The legend&nbsp;<em _mstmutation="1" _istranslated="1">of Saint Phung</em>&nbsp;has many characters:<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Poor old man and wife.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ His parents.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Imperial envoy.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Those who follow Windng kill the enemy.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">- The main character in the series is Saint Wind.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">- This character is built with a lot of fantasy details of the
following magical nature:<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Strange childbirth (mothers only wet on strange footprints and
conceive).<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Conception and pregnancy up to twelve months.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Three years old without knowing how to walk, laughing.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Messenger looking for talents to help water. The first voice
is the voice that demands to fight the enemy. He grew up as fast as he blew.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Go to war, alone to defeat the invaders.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Stretching the shoulders of a brave man.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Iron horses spray fire.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Use bamboo villages to fight the enemy.<o:p></o:p></span><u1:p></u1:p></p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Saint Windng flew to heaven, lived forever, immortality with
the river, the country.<o:p></o:p></span><u1:p></u1:p></p><p style="margin-right: 0px; margin-bottom: 10px; margin-left: 0px; color: rgb(51, 51, 51); font-family: Muli, sans-serif; font-size: 18px; text-align: justify;">































</p><p style="margin: 0in 0in 7.5pt; text-align: justify; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size:13.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;
color:#333333">+ Leave the traces of bamboo, of the lagoon pond.<o:p></o:p></span></p>', N'~/public/uploadedFiles/lectureVideos/bbbbbbbbbbb2212655085.mp4')
INSERT [dbo].[Lectures] ([LectureID], [LectureName], [CourseID], [Overview], [Path]) VALUES (35, N'Chapter 1: Inorganic chemistry', 21, N'<p class="MsoNormal"><span style="font-size: 13pt; line-height: 107%; color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">Modern
chemistry, which dates more or less from the acceptance of the&nbsp;</span><span style="font-size:13.0pt;line-height:107%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin"><a href="https://www.britannica.com/science/conservation-law"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">law
of conservation</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;of mass in the late 18th century, focused initially on
those substances that were not associated with living organisms. Study of such
substances, which normally have little or no carbon,&nbsp;</span><a href="https://www.merriam-webster.com/dictionary/constitutes" data-term="constitutes"><span style="color: black; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">constitutes</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;the&nbsp;</span><a href="https://www.merriam-webster.com/dictionary/discipline" data-term="discipline"><span style="color: black; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">discipline</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;of inorganic chemistry. Early work sought to
identify the simple substances—namely, the elements—that are the&nbsp;</span><a href="https://www.merriam-webster.com/dictionary/constituents" data-term="constituents"><span style="color: black; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">constituents</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;of all more complex substances. Some
elements, such as&nbsp;</span><a href="https://www.britannica.com/science/gold-chemical-element"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">gold</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;and carbon, have been known since antiquity,
and many others were discovered and studied throughout the 19th and early 20th
centuries. Today, more than 100 are known. The study of such simple inorganic&nbsp;</span><a href="https://www.merriam-webster.com/dictionary/compounds" data-term="compounds"><span style="color: black; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">compounds</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;as&nbsp;</span><a href="https://www.britannica.com/science/salt"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">sodium
chloride</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;(common salt) has led to some of the fundamental
concepts of modern chemistry, the&nbsp;</span><a href="https://www.britannica.com/science/law-of-definite-proportions"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">law of definite proportions</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;providing one notable example. This law
states that for most pure chemical substances the constituent elements are
always present in fixed proportions by mass (<em><span style="font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin">e.g.,</span></em>&nbsp;every 100 grams of salt contains 39.3 grams of&nbsp;</span><a href="https://www.britannica.com/science/sodium"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">sodium</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;and 60.7 grams of&nbsp;</span><a href="https://www.britannica.com/science/chlorine"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">chlorine</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">). The crystalline form of salt, known as&nbsp;</span><a href="https://www.britannica.com/science/halite"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">halite</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">, consists of intermingled sodium and chlorine
atoms, one sodium&nbsp;</span><a href="https://www.britannica.com/science/atom"><span style="color: rgb(20, 89, 157); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">atom</span></a><span style="color: rgb(26, 26, 26); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;for each one of chlorine. Such a compound,
formed solely by the combination of two elements, is known as a binary
compound. Binary compounds are very common in inorganic chemistry, and they
exhibit little structural variety. For this reason, the number of inorganic
compounds is limited in spite of the large number of elements that may react
with each other. If three or more elements are combined in a substance, the
structural possibilities become greater.</span><o:p></o:p></span></p>', N'~/public/uploadedFiles/lectureVideos/aaaaaaaaaaaaaaaaaaaaaaaa214051641.mp4')
SET IDENTITY_INSERT [dbo].[Lectures] OFF
INSERT [dbo].[OrderDetail] ([OrderID], [CourseID], [UnitPrice]) VALUES (6, 1, CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderID], [CourseID], [UnitPrice]) VALUES (7, 12, CAST(111 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderID], [CourseID], [UnitPrice]) VALUES (7, 22, CAST(13 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [Username], [CreatedDate], [PaymentID], [PaymentStatus], [Total], [CouponID], [Status]) VALUES (6, N'student', CAST(N'2021-01-16T23:59:03.793' AS DateTime), 1, 1, CAST(1.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Orders] ([OrderID], [Username], [CreatedDate], [PaymentID], [PaymentStatus], [Total], [CouponID], [Status]) VALUES (7, N'student', CAST(N'2021-01-15T04:30:00.440' AS DateTime), 1, 1, CAST(124.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Orders] ([OrderID], [Username], [CreatedDate], [PaymentID], [PaymentStatus], [Total], [CouponID], [Status]) VALUES (8, N'student', CAST(N'2021-01-17T04:32:11.247' AS DateTime), 2, 1, CAST(98.40 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (1, N'Payment through Sacombank')
INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (2, N'Payment through MOMO')
INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (3, N'Payment through Sacombank')
SET IDENTITY_INSERT [dbo].[Payment] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (5, 2, 4, N'Listen to the question and choose the best answer', N'~/public/uploadedFiles/questionAudio/Recording 1211731731.mp3', N'ok yes', N'no i don''t', N'dc do', N'yolo', N'4', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (6, 2, 4, N'Listen to the question and choose the best answer', N'~/public/uploadedFiles/questionAudio/Recording 1212930952.mp3', N'I''m 10 years old', N'My name''s Jack', N'dc do', N'You''re welcome', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (10, 1, 4, N'Read the question below and choose the best answer', N'<p>asd</p>', N'I''m 10 years old', N'2', N'7', N'You''re welcome', N'4', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (48, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">1.<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">In
Struts 2.1, __________ plays the role of the Controller.<o:p></o:p></span></p>', N'ActionMapper', N'FilterDispatcher', N'StrutsPrepareAndExecuteFilter', N'ActionInvocation', N'3', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (49, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">1.<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">In
Struts 2, one can extend from _____ class for providing the functionalities of
an action.<o:p></o:p></span></p>', N'Action', N'Validateable', N'ActionSupport', N'ValidationAware', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (50, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">In
Struts 2, one can extend from _____ class for providing the functionalities of
an action.<o:p></o:p></span></p>', N'Action', N'Validateable', N'ActionSupport', N'ValidationAware', N'3', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (51, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">The _____Result Type method redirects the user to a
configured URL.</span><br></p>', N'Steam', N'Redirect ', N'Dispatcher', N'RedirectAction', N'2', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (52, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">__________allows the developers to add meta-data
information into the Java source code.</span><br></p>', N'XML Configuration files', N'Dispatchers', N'Annotations ', N'Packages', N'3', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (53, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">1.<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">_____annotation
helps to set the path of the action URL.<o:p></o:p></span></p>', N'@Namespace', N'@Action', N'@Result', N'@Result and Results', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (54, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Which of the following statements are <b>true</b> with respect to a framework?</span><br></p>', N'They propagate design reuse over code reuse ', N'They can be created for general purpose application domain', N'They allow building application faster which are also easy to maintain', N'Most of the frameworks are written only in C language', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (55, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1"><span style="font-family: &quot;Times New Roman&quot;;">1.</span><span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">Which
of these statements is <b>true</b> and
which is <b>false</b> about Struts 1
Controller Servlet?</span></p><p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1"><br></span><span style="color: rgb(68, 114, 196); font-family: &quot;Times New Roman&quot;, serif; font-size: 14pt; text-indent: -0.25in;">Statement A: The ActionServlet class handles run-time
events in accordance with a set of rules that are provided at deployment time</span></p><p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Statement B: ActionServlet delegates its processing of
a request to a RequestProcessor class.</span><span style="color: rgb(68, 114, 196); font-family: &quot;Times New Roman&quot;, serif; font-size: 14pt; text-indent: -0.25in;"><br></span></p><p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1"><o:p></o:p></span></p>', N'Both the statements are TRUE ', N'Both the statements are FALSE', N'Statement A is TRUE and Statement B is FALSE', N'Statement A is FALSE and Statement B is TRUE', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (56, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Which of the following statements are <b>incorrect</b> that identify the function of
the execute() method</span><br></p>', N'Performs the business logic for the application ', N'Returns an object of type ActionForward class ', N'Helps framework to determine where it should next route the request', N'Throws ServletException on the failure of the execution', N'4', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (57, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">1.<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;<span style="font-family: &quot;Times New Roman&quot;;">&nbsp;
</span></span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">Which
of these statements is <b>true</b> and
which is <b>false</b> about Struts 2
feature?<o:p></o:p></span></p><p>

</p><p class="MsoListParagraphCxSpLast"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">Statement
A: Struts 2 achieved easy development of Web application by reducing XML
configurations and introduced annotation-based</span></p><p class="MsoListParagraphCxSpLast"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1"><br></span><span style="color: rgb(68, 114, 196); font-family: &quot;Times New Roman&quot;, serif; font-size: 14pt;">Statement B: In Struts 2, Action class are Plain Old
Java Object (POJO) objects that are used for simplifying the development and
code.</span></p><p class="MsoListParagraphCxSpLast"><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1"><o:p></o:p></span></p>', N'Statement A is FALSE and Statement B is TRUE', N'Statement A is TRUE and Statement B is FALSE', N'Both the statements are TRUE', N'Both the statements are FALSE', N'4', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (59, 1, 1, N'Read the question below and choose the best answer', N'<p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="mso-bidi-font-size:14.0pt;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">1.<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="mso-bidi-font-size:14.0pt;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4472C4;mso-themecolor:accent1">Which
of the following statements <b>correctly</b>
define the @Namespace annotation?<o:p></o:p></span></p>', N'Used for configuring a result for the return value', N'Used for configuring multiple results', N'Used to set the path of the action URL', N'Used to mark the action class', N'3', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (60, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">Which of the following statement is used to get or set
the ValueStack inside the action class in Struts 2.0?</span><br></p>', N'ActionContext.getContext().getValueStack()', N'Action.getContext().ValueStack()', N'Action.Context().getValueStack()', N'Action.Context().ValueStack()', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (61, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">_____ contain static HTML and JSP library <b>tags to generate</b> dynamic HTML page and
contains code for user interaction</span><br></p>', N'JSP pages', N'Form Beans', N'JSP Tag Libraries', N'Resource bundles', N'1', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (62, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">What is the return type of execute() method in Struts
2?</span><br></p>', N'void', N'boolean', N'String', N'ActionForward', N'3', -1)
INSERT [dbo].[Questions] ([QuestionID], [TypeID], [CourseID], [Description], [Content], [ChoiceA], [ChoiceB], [ChoiceC], [ChoiceD], [Answer], [Level]) VALUES (63, 1, 1, N'Read the question below and choose the best answer', N'<p><span style="font-size:14.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;color:#4472C4;
mso-themecolor:accent1;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA">When a <b>user performs</b>
an action, the _____method of the Action class is invoked to process the
request based on users action?</span><br></p>', N'execute()', N'service()', N'validate()', N'reset()', N'1', -1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[QuestionType] ON 

INSERT [dbo].[QuestionType] ([TypeID], [TypeName], [Description]) VALUES (1, N'Normal Question', N'Read the question below and choose the best answer')
INSERT [dbo].[QuestionType] ([TypeID], [TypeName], [Description]) VALUES (2, N'Listening Question', N'Listen to the question and choose the best answer')
INSERT [dbo].[QuestionType] ([TypeID], [TypeName], [Description]) VALUES (3, N'Image Question', N'Look at the image, read the question and choose the best answer')
SET IDENTITY_INSERT [dbo].[QuestionType] OFF
SET IDENTITY_INSERT [dbo].[ReplyingBlogComments] ON 

INSERT [dbo].[ReplyingBlogComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (2, N'admin123', 2, N'scszcszcs111111', CAST(N'2020-12-26T16:02:00.000' AS DateTime), 0)
INSERT [dbo].[ReplyingBlogComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (4, N'admin123', 3, N'<p>szv dxvf cxb&nbsp;</p>', CAST(N'2020-12-26T17:07:00.000' AS DateTime), 1)
INSERT [dbo].[ReplyingBlogComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (9, N'admin123', 2, N'<p>scvzdxvdxfb vb</p>', CAST(N'2020-12-31T18:19:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ReplyingBlogComments] OFF
SET IDENTITY_INSERT [dbo].[ReplyingCourseComments] ON 

INSERT [dbo].[ReplyingCourseComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (8, N'nguyenvana', 11, N'fghtfch', CAST(N'2021-01-10T04:15:02.263' AS DateTime), 1)
INSERT [dbo].[ReplyingCourseComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (10, N'student', 14, N'ngon', CAST(N'2021-01-19T17:54:25.850' AS DateTime), 1)
INSERT [dbo].[ReplyingCourseComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (20, N'phtam342', 5, N'<p>ngon<br></p>', CAST(N'2021-01-21T21:38:22.913' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ReplyingCourseComments] OFF
SET IDENTITY_INSERT [dbo].[ReplyingLectureComments] ON 

INSERT [dbo].[ReplyingLectureComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (2, N'admin123', 1, N'<p>vfxvfxvfxbgbdvvdxvd</p>', CAST(N'2020-12-27T12:58:00.000' AS DateTime), 1)
INSERT [dbo].[ReplyingLectureComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (3, N'admin123', 1, N'<p>fvfvbfbvdxvdfgv</p>', CAST(N'2020-12-27T13:01:00.000' AS DateTime), 1)
INSERT [dbo].[ReplyingLectureComments] ([ReplyID], [Username], [CommentID], [Content], [CreatedDate], [Status]) VALUES (6, N'student', 3, N'ok dc do', CAST(N'2020-12-27T13:01:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ReplyingLectureComments] OFF
INSERT [dbo].[Users] ([Username], [FirstName], [LastName], [Password], [Gender], [DOB], [Phone], [Email], [Address], [Avatar], [StatusID], [Role]) VALUES (N'admin123', N'Tam ', N'Pham Hoang', N'$s2$16384$8$1$NoV6deqRpgr5OS5mZRukM4ywxZ6FUkP6IpiZsvTCL2w=$QMdp9+Z63S5EH9r7E8ieZGY40dzzmuUeOkVFMP9xNAQ=', 0, CAST(N'2000-04-03' AS Date), N'032729132832', N'didonghoangtam342@gmail.com', N'Viet Nam', N'~/public/uploadedFiles/userPictures/avttam210413176.jpg', 1, N'1')
INSERT [dbo].[Users] ([Username], [FirstName], [LastName], [Password], [Gender], [DOB], [Phone], [Email], [Address], [Avatar], [StatusID], [Role]) VALUES (N'admin9', N'Trần', N'Nguyên', N'$s2$16384$8$1$yMZVSTHsN8ouik0827YrdwAmu7Cw/QVXxWvXvp1NavQ=$PK3O1rAsHG3EMbH4jjiz+Sh9BeCKR7u6rNUhD1jj85s=', 1, CAST(N'1999-01-08' AS Date), N'0898809791', N'nguyenkame123@gmail.com', N'Tháp Mười, Đồng Tháp', N'~/public/uploadedFiles/userPictures/aaaaa5214327158.jpg', 1, N'1')
INSERT [dbo].[Users] ([Username], [FirstName], [LastName], [Password], [Gender], [DOB], [Phone], [Email], [Address], [Avatar], [StatusID], [Role]) VALUES (N'baothy123', N'Thy', N'Huynh Bao', N'$s2$16384$8$1$fABh047BfALi975lWYxs50i9AEa3j8beyyXSXoLhxv0=$rmJavsoGT/bPtRn7XxGWRtkDfSkvNfX/7mnKr0S/d/k=', 0, CAST(N'1995-01-01' AS Date), N'0147852369', N'baothy123@gmail.com', N'Cai Be Tien Giang', N'~/public/uploadedFiles/userPictures/avatar2214344427.png', 1, N'2')
SET IDENTITY_INSERT [dbo].[UserStatus] ON 

INSERT [dbo].[UserStatus] ([StatusID], [StatusName], [IsBlock]) VALUES (1, N'active', 0)
INSERT [dbo].[UserStatus] ([StatusID], [StatusName], [IsBlock]) VALUES (2, N'block', 1)
SET IDENTITY_INSERT [dbo].[UserStatus] OFF
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blogs] ([BlogID])
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BlogCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[CourseComments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CourseComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[ExaminationContent]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Examination] ([ExamID])
GO
ALTER TABLE [dbo].[ExaminationContent]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Examination] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[LectureComments]  WITH CHECK ADD FOREIGN KEY([LectureID])
REFERENCES [dbo].[Lectures] ([LectureID])
GO
ALTER TABLE [dbo].[LectureComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[QuestionType] ([TypeID])
GO
ALTER TABLE [dbo].[ReplyingBlogComments]  WITH CHECK ADD FOREIGN KEY([CommentID])
REFERENCES [dbo].[BlogComments] ([CommentID])
GO
ALTER TABLE [dbo].[ReplyingBlogComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[ReplyingCourseComments]  WITH CHECK ADD FOREIGN KEY([CommentID])
REFERENCES [dbo].[CourseComments] ([CommentID])
GO
ALTER TABLE [dbo].[ReplyingCourseComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[ReplyingLectureComments]  WITH CHECK ADD FOREIGN KEY([CommentID])
REFERENCES [dbo].[LectureComments] ([CommentID])
GO
ALTER TABLE [dbo].[ReplyingLectureComments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[UserStatus] ([StatusID])
GO
